{
  "env": {
    "node": true,
    "jest": true,
    "cheerio": true,
    "marked": true
  },
  "parserOptions": {
    "ecmaVersion": 8
  },
  "rules": {
    "import/extensions": [
      "error",
      "always"
    ]
  }
}
